@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h3 style="margin-top: 45px;">Data & Level</h3>

    <p>
        Data & Level əhaliyə rahat, evini tərk etmədən və ya istədikləri sakit yerdən dərslərə qoşularaq dövrün ən tələbatlı sahələrindən olan Data Science və Data mühəndisliyi üzrə təhsil almağa imkan yaradır. Bizim professional virtual kursları bitirməklə siz həm databaza ilə işləməyi, həm data analitika üçün istifadə olunan proqramları sərbəst davranmağı öyrəncək, həm də mühüm proqramlaşdırma dillərindən bir və ya bir neçəsini yüksək səviyyədə mənimsəmiş olacaqsınız.
        Eyni zamanda Data Level üzrə müvafiq sertifikatı almış olacaqsınız.
    </p>
</div>

