@page
@model Data_Level.Pages.ExamsModel
@{
    ViewData["Title"] = "Exams";
}

<section class="container">
    <h3>İmtahan və Sertifikat</h3>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <p style="margin-top:15px">
                Data Level Virtual Akademiyası hər kəsə müvafiq proqram/proqramlaşdırma dili üzrə Ölkədaxili Data Level (səviyyə) imtahanını vermək və sertifikat almağa imkan yaradır.
                Data Level -in təqdim etdiyi bu virtual imtahanı onun tələbəsi olub-olmamağından asılı olmayaraq hər kəs verə bilər. Belə ki, öz səviyyəsinə güvənib biliyini yoxlamaqla müvafiq səviyyə sertifikatına hər kəs yiyələnə bilər. Lakin Data Level Virtual Akademiyasının tələbələrinin aşağıdakı kimi üstünlüklləri vardır:
            </p>
            <ul>
                <li>Bizdə keçirilən canlı virtual kurslar tələbələri müvafiq proqramın imtahanına hazır etmiş olur</li>
                <li>Data & Level tələbələri üçün bitirdiyi kurslar üzrə müvafiq virtual imtahanlara giriş pulsuzdur.</li>
            </ul>
            <br />
            <p>İmtahana standart giriş haqqı isə 22 AZN-dir. Ölkədaxili Data & Level imtahanlarının formatı aşağıdakı kimidir:</p>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="exam-frame">
                <img class="examimg" src="~/images/exam02.jpg" />
            </div>
        </div>
    </div>
    <br />
    <div class="examchart">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h4 style="font-weight:bold; margin-left: 25px">Excel + Power BI</h4>
                <ul>
                    <li>Cəmi sual – 12 ədəd</li>
                    <li>Nəzəri sual – 5 ədəd, hər biri 1 bal</li>
                    <li>Nəzəri-praktiki – 5 ədəd, hər biri 3 bal</li>
                    <li>Praktiki sual – 2 ədəd, hər biri 5 bal</li>
                    <li>Maksimum nəticə – 30 bal</li>
                    <li>Imtahan gedişatı – 90 dəqiqə</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4 style="font-weight:bold; margin-left: 25px">MS SQL (T-SQL)</h4>
                <ul>
                    <li>Cəmi sual – 12 ədəd</li>
                    <li>Nəzəri sual – 3 ədəd, hər biri 2 bal</li>
                    <li>Nəzəri-praktiki – 7 ədəd, hər biri 2 bal</li>
                    <li>Praktiki sual – 2 ədəd, hər biri 5 bal</li>
                    <li>Maksimum nəticə – 30 bal</li>
                    <li>Imtahan gedişatı – 60 dəqiqə</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4 style="font-weight:bold; margin-left: 25px">Python</h4>
                <ul>
                    <li>Cəmi sual – 12 ədəd</li>
                    <li>Nəzəri sual – 5 ədəd, hər biri 1 bal</li>
                    <li>Nəzəri-praktiki – 5 ədəd, hər biri 3 bal</li>
                    <li>Praktiki sual – 2 ədəd, hər biri 5 bal</li>
                    <li>Maksimum nəticə – 30 bal</li>
                    <li>Imtahan gedişatı – 90 dəqiqə</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p>
                    20 və daha artıq bal toplayan tələbə imtahandan keçmiş olur. İmtahandan keçməyən tələbə imtahanı növbəti tarixdə təkrar verə bilər. Ölkədaxili Data Level virtual imtahanlarını vermək sayına isə heç bir məhdudiyyət yoxdur. İlk imtahana  giriş haqqı 22 AZN, təkrar giriş haqqı isə hər biri üçün 10 AZN-dir. Data Level məzunları üçün isə həmişə PULSUZDUR.
                </p>
            </div>
        </div>
    </div>
    <div class="exam-rules">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h4>İmtahana qoşulmaq qaydası </h4>
                <p>
                    Bildiyiniz kimi, Ölkədaxili Data Level imtahanları virtual şəkildə keçirilir. Bu baxımdan imtahan başlamazdan əvvəl internetə qoşulmağınıza əmin olmalısınız. İmtahan zamanı Zoom proqramı işə salınmalı və tələbə (sertifikata namizəd) öz ekranını paylaşmalıdı. Zoom proqramını yükləmək və onun vasitəsilə imtahana qoşulmaq qaydası bizim virtual dərslərə qoşulma qaydası ilə eynidir. Bunun üçün ZOOM səhifəsinə daxil olub onu diqqətlə oxuyun. Yeganə fərq ondadır ki, burada mütləq veb kamera ilə qoşulmağı seçməlisiniz.
                    Veb kamerası olmayan tələbə/namizədlər isə Zoom tətbiqini (app) imtahan başlamazdan əvvəl Android/İOS dəstəkləyən mobil telefonlarına da yükləməlidirlər. Desktopda imtahana (Zoom meeting-ə) qoşulmusunuzsa, sizə gələn mesajdakı Meeting İd və Parolu (şifrəni) mobil tətbiqdə qeyd edərək “Join Meeting” (войти в конференцию) basırsınz və kompüterlə paralel telefondan da qoşulmuş olursunuz. Bu zaman telefonunuz veb kamera əvəzi sizi canlı göstərəcək. Masanızda telefonu elə şəkildə söykəmək lazımdır ki, heç olmasa üzünüzün əsas hissəsi kameraya düşsün (təqribən şəkil 2-dəki kimi). Telefonu söykəməkdə çətinlik çəkənlər üçün smartfon altlıqlardan istifadəni məsləhət görürük (imtahandan əvvəl özünüz üçün yoxlayın). Kamera ilə qoşulmaqda məqsəd imtahan verənin yanında ona heç kəsin kömək etməməsinə əmin olmaqdır. Yalnız ekran paylaşılandan (share screen- şəkil 4) sonra imtahana start verilir və tələbə ona göndərilmiş imtahan suallarını (tapşırıqları) yerinə yetirməyə başlayır. Ekranı paylaşdırmaqda məqsəd tələbənin imtahan zamanı köməkçi səhifələrə daxil olmaması və ya email/sosial şəbəkə vasitəsilə sualları başqası ilə paylaşmamasına əmin olmaqdır. Qısa sözlə, sanki Skype ilə ekranınızı bölüşüb kameranı işə salaraq  Data Level ilə ünsiyyətə girirsiniz.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img class="web-cam" src="~/images/cam-view.jpg" />
            </div>
            <div class="col-lg-6 col-md-6">
                <img class="cam-show" src="~/images/video.png" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p>İmtahan verərkən sərbəst olun. Nəzərə alın ki, sizin balınız imtahan nəticəsinə əsasən müəyyən edilir, imtahan zamanı nəyisə silib-yazmağınız və ya qadağa olunmayan fayllara/proqramlara daxil olmağınızda heç bir problem yoxdur və sizin nəticənizə heç bir mənfi təsiri olmayacaq.</p>
            </div>
        </div>
        <br />
        <h4>Sertifikasiya</h4>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p>
                    Hər hansı mövzu/proqram üzrə imtahandan 20 və daha artıq bal toplayan namizəd Data Level Virtual Akademiyasının digital səviyyə sertifikatını əldə edəcək. Həmin sertifikatı asanlıqla CV/Linkedin və ya hər hansı sosial şəbəkədə paylaşmaq mümkündür.
                    Tələbənin istəyindən asılı olaraq sertifikatda imtahanın balı və faiz nəticəsi də göstəriləcək. Kursa yazılan tələbələrdən ümumiyyətlə imtahan verməyənlər isə iştirakçı sertifikatı ala biləcəklər. Data Level sizə hər hansı proqram/proqramlaşdırma dili ilə yanaşı data ilə əlaqəli sahədə ixtisas sertifikatı da təqdim edir. Bunlardan hələlik 2 növü mövcuddur:
                </p>
                <ul>
                    <li>Data Analitik sertifikatı</li>
                    <li>Data Mühəndisliyi sertifikatı</li>
                </ul>
                <p>
                    Data analitik sertifikatına layiq görülmək üçün namizəd Excel+ Power Bİ və MS SQL imtahanlarından uğurla keçməlidir. Data mühəndisliyi sertifikatı üçün isə ən azı Excel+ Power Bİ, MS SQL və Python imtahanlarından uğurlu nəticə tələb olunur.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="register-now">
                    <h4 style="font-weight: bold">İmtahana qeydiyyat!</h4>
                    <br />
                    <div class="register-form">
                        <form class="form" method="post">
                            <div asp-validation-summary="All"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="ExamForm.FullName" class="col-md-3 right">Ad/Soyad:</label>
                                        <div class="col-md-9">
                                            <input asp-for="ExamForm.FullName" class="regform" />
                                            <span asp-validation-for="ExamForm.FullName"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="ExamForm.Email" class="col-md-3 right">Email:</label>
                                        <div class="col-md-9">
                                            <input asp-for="ExamForm.Email" class="regform" />
                                            <span asp-validation-for="ExamForm.Email"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="ExamForm.Identity" class="col-md-3 right">Ş.V. seriya: AZE</label>
                                        <div class="col-md-9">
                                            <input asp-for="ExamForm.Identity" rows="6" class="regform" />
                                            <span asp-validation-for="ExamForm.Identity"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="ExamForm.Exam" class="col-md-3 right">İmtahanı seçin:</label>
                                        <div class="col-md-9">
                                            <select name="myexam" asp-for="ExamForm.Exam">
                                                <option value="Excel + Power BI (10.04.2021 14:00)">Excel + Power BI (10.04.2021 14:00)</option>
                                                <option value="MS SQL (17.04.2021 14:00)">MS SQL (17.04.2021 14:00) </option>
                                                <option value="Python (24.04.2021 13:00)">Python (24.04.2021 13:00)</option>
                                            </select>
                                            <span asp-validation-for="ExamForm.Exam"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="regbtn" type="submit">Qeydiyyatdan keç</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->
