@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1">

        </div>
        <div class="col-lg-10 col-md-10">
            <h3 style="margin-top: 45px">Məxlifik siyasəti</h3>
            <p>
                Siz bizim saytda qeydiyyat keçdikdən sonra sizin haqqınızda (daxil etdiyiniz) informasiya bizim bazaya daxil olmuş olur. Sizin haqqınızda olan həmin informasiya (ad, soyad, istifadəçi adı, şifrə və s.) bizdə məxfi olaraq saxlanılır və heç bir üçüncü tərəfə açıqlanmır.

                İnformasiyanı əldə etməkdə məqsəd:

                Sizin haqqınızda informasiyanı aşağıdakı məqsədlər üçün istifadə edirik:
                - Statistik analiz
                - Sizin saytda təcrübənizi tədqiq etmək.
                Hansı səhifədə neçə dəqiqə vaxt keçirməyiniz, hansı elanlara “like” verməyiniz hansı növ elanlarla daha çox maraqlanmağınızdan xəbər verir.
                Məlumatın gizli saxlanması
                Yuxarıda qeyd etdiyimiz kimi sizin haqqınızda olan informasiya bizdə məxfi olaraq saxlanılır və heç bir üçüncü tərəfə açıqlanmır. Sizin şəxsi və ya ictimai məlumatlar, razılığınız olmadan heç bir şərt altında satılmayacaq, dəyişdirilməyəcək, ötürülməyəcək və digər şirkətlərlə paylaşılmayacaq.
                Şirkətlər üçün
                Qeydiyyat zamanı lazımı informasiyanın toplanması və onların məxfi saxlanması adi istifadəçilərdə olduğu kimi şirkətlərə də aiddir. Şirkətlər (obyekt / salonlar) üzrə yerləşdirdiyimiz elanlar mənbəyini onların internetdəki rəsmi vebsaytı və ya sosial media səhəfələrindən götürür. Mənbədə olan məlumatın məzmunun dəyişilməsi yolverilməzdir. Daxili qaydalarımıza əsasən məzmunu saxlamaqla yalnız cümlə forması cüzi dəyişdirilə bilər.
            </p>

        </div>
        <div class="col-lg-1 col-md-1">

        </div>
    </div>
</div>
