@page
@model Data_Level.Pages.ExcelModel
@{
    ViewData["Title"] = "Excel";
}

<div class="container sitepage">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="course-page">
                <div class="introduction">
                    <div class="row">
                        <dvi class="col-lg-8 col-md-8">
                            <h3>MS SQL</h3>
                            <p>
                                SQL (Structured Query Language) bir sorğu dili olmaqla yanaşı bir proqramlaşdırma dili kimi databazanın yaradılmasından başlayaraq müxtəlif növ cədvəllərin formalaşdırılması,
                                cədvəllər üzərində data manipulyasiya əməliyyatları, müxtəlif sorğularla istədiyimiz datanın çağırılması, onların virtual cədvəl şəklində formalaşdırılması, müxtəlif funksiyalar, 
                                store-prosedurlar, tranzaksiyalar və s. əhatə edir. Kursumuzda SQL-i Microsoft SQL Server platdorması üzərində 0-dan başlayaraq mükəmməl səviyyəyə kimi öyrənəcəyik.
                                Kursu bitirdikdən sonra SQL üzrə sizə vacib olan bilik və bacarıqlara artıqlaması ilə yiyələnəcəksiniz.                               
                            </p>
                        </dvi>
                        <div class="col-lg-4 col-md-4">
                            <div class="imgframe">
                                <img class="course-pic" src="~/images/MS-SQL.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <h5>MS SQL kursu aşağıdakı mövzuları əhatə edir:</h5>
                <ul>
                    <li>MS SQL-ə giriş, MS SQL server ilə ümumi tanışlıq</li>
                    <li>SQL-də data tipləri və data struktur</li>
                    <li>Modellər arasında münasibətlər və onların tipləri (relational models)</li>
                    <li>SQL-də DDL əməliyyatları - Create, Alter, Add, Drop</li>
                    <li>SQL-də cədvəllər üzərində DML əməliyyatları - İnsert Update, Delete</li>
                    <li>Cədvəllər üzrə müxtəlif sorğuların yazılması (Select statements) </li>
                    <li>Müxtəlif vasitələrlə (Where, Like, Between, And, In və s.) şərti sorğuların formalaşdırılması</li>
                    <li>SQL-də məhdudiyyətlərin (constraints) qurulması</li>
                    <li>Müxtəlif "constraint" növləri (Default contraint, check constraint, foreign key constraint, unique key constraint və s.)</li>
                    <li>Referensial bütövlüyün təmin edilməsi</li>
                    <li>SQL-də normalizasiya qaydaları</li>
                    <li>"Primary key" və cədvəldə onun əsas rolu</li>
                    <li>Müxtəlif növ cədvəllərin birləşdirilməsi (joins) və onların növləri (left join, right join, inner join, full Join, cross joins, self join)</li>
                    <li>Sətir qanunauyğunluqlarına görə cədvəllərin birləşdirilməsi (union-lar)</li>
                    <li>"İntersect"-lər və onların "İnner Join"-dan fərqi</li>
                    <li>SQL-də groupinglər və onların müxtəlif sorğularda tətbiqi</li>
                    <li>Aqreqat funksiyalar (Sum , Count, Avg, Max, Min, Var, və s.)</li>
                    <li>Riyazi funksiyalar</li>
                    <li>Skalyar və "user-defined" funksiyalar</li>
                    <li>Cədvəl qaytaran funksiyalar (Inline table valued, Multi-statement table valued functions)</li>
                    <li>SQL-də konvertasiya əməliyyatları (Cast və Convert funksiyaları)</li>
                    <li>Analitik funksiyalar</li>
                    <li>SQL-də "string" funksiyalar (Left, right, charindex, substring, replicate, space, replace, stuff string və s.) </li>
                    <li>Tarix və zamanla bağlı funksiyalar (IsDate, Day, Month, Year, DateName, DateTime, DatePart, DateAdd, DateDiff) </li>
                    <li>Stor prosedurlar və onların müxtəlif hallarda tətbiqi</li>
                    <li>İnput parametrli və output parametrli stor prosedurlar</li>
                    <li>Stor prosedurların əhəmiyyəti</li>
                    <li>İndekslər və onların əsas növləri (Clustered/ non-clustered </li>
                    <li>SQL-də "View" lar</li>
                    <li>Trigger-lər və onların növləri (DDL və DML trigger-lər və onların klassifikasiyası)</li>
                    <li>"İnstead of" trigger-lər və onların növləri</li>
                    <li>SQL-də tranzaktiv əməliyyatlar</li>
                    <li>Digər "advanced" detallar</li>
                </ul>
            </div>
            <div class="specimages">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <img class="down-img" src="~/images/sql01.jpg" />
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img class="down-img" src="~/images/sql02.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






