@page
@model Data_Level.Pages.SuccessMessageModel
@{
    ViewData["Title"] = "SuccessMessage";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="success-message" style="margin-top: 65px; min-height:250px">
                <h4>Qeydiyyatdan keçdiyiniz üçün təşəkkür edirik.</h4>
                <br />
                <p>Qeydiyyatdan keçməklə siz artıq ilkin Giriş dərsinə pulsuz yazılmış olursunuz. Həmin dərsdə sizə həm Zoom proqramına qoşulmaqda köməklik göstəriləcək, həm də keçiriləcək mövzular haqqında ümumi məlumat veriləcək. Bu dərs eyni zamanda texniki problemi yaranan tələbələrdə bu problemin aradan qaldırılmasına və növbəti əsas dərslərə asanlıqla qoşulmasına xidmət edəcək. İlk dərs başlamazdan 15 dəqiqə əvvəl sizlərə Zoom proqramına qoşulmaq üçün link göndərəcəyik. Bunun üçün əvvəlcədən Zoom səhifəmizi oxuyub qaydalarla tanış olmağınız məsləhət görülür.</p>
                <br />
                <p> Canlı Virtual Dərsimizdə sizi gözləyirik. </p>
            </div>
        </div>
    </div>
</div>
